{
	"extends": "xo/esnext",
	"rules": {
		"new-cap": [2, {
			"capIsNewExceptions": [
				"Polymer",
				"nodecg.Replicant"
			]
		}],
		"operator-linebreak": [
			"error", "after", { "overrides": { "?": "before", ":": "before" } }
		]

	},
	"plugins": [
		"html"
	]
}
